
.table-container {
  width: 100%;
  height: 85vh;
  background-color: grey;
  overflow: auto;
}

.content-displayer {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  gap: 20px;
}

.content-displayer button {
  height: 4vh;
  text-align: center;
}